$dark: #151515;
$gray1: #f5f5f5;
$gray2: #f9f9f9;
$gray3: #d1d1d1;
$white: #fff;
$green1: #6A983C;
$green2: #46760A;

%bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}