<section class="best-selling section">
    <div class="container">
        <div class="best-selling__wrapper">
            <div class="category-menu">
                <h2 class="title">Best selling products</h2>
                <ul class="category-menu__list">
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Kitchen</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Meat and fish</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Special nutrition</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Pharmacy</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Baby</a>
                    </li>
                </ul>
                <a class="category__menu-btn btn" href="#">More categories</a>
            </div>
            <div class="best-selling__inner">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                    <h3 class="product-card__title title">Product Title</h3>
                    <p class="product-card__desc">Space for a small product description</p>
                    <div class="product-card__box">
                        <span class="product-card__price">1.48
                            <span class="product-card__currency">USD</span>
                        </span>
                        <button class="product-card__button btn" type="button">Buy now</button>
                    </div>
                </article>
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/2.jpeg" width="237" height="180" alt="Product">
                    <h3 class="product-card__title title">Product Title</h3>
                    <p class="product-card__desc">Space for a small product description</p>
                    <div class="product-card__box">
                        <span class="product-card__price">1.28
                            <span class="product-card__currency">USD</span>
                        </span>
                        <button class="product-card__button btn" type="button">Buy now</button>
                    </div>
                </article>
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/3.jpeg" width="237" height="180" alt="Product">
                    <h3 class="product-card__title title">Product Title</h3>
                    <p class="product-card__desc">Space for a small product description</p>
                    <div class="product-card__box">
                        <span class="product-card__price">1.12
                            <span class="product-card__currency">USD</span>
                        </span>
                        <button class="product-card__button btn" type="button">Buy now</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>