<section class="blog section">
    <div class="container">
        <div class="blog__top">
            <h2 class="blog__title title">Read our Blog posts</h2>
            <a class="blog__link btn" href="blog.html">Go to Blog</a>
        </div>
        <div class="blog__content">

            <div class="blog-card" style="background-image: url('/images/blog/1.jpg');">
                <span class="blog-card__tag">Dinner tips</span>
                <div class="blog-card__content">
                    <h3 class="blog-card__subtitle">Our chef tips for a great and tasty dinner ready in 20 minutes</h3>
                    <div class="blog-card__content-inner">
                        <img class="blog-card__image" src="/images/reviews-image/1.png" width="32" height="32" alt="">
                        <cite class="blog-card__author">Author</cite>
                        <time class="blog-card__date" datetime="">17. 6. 2020</time>
                    </div>
                </div>
            </div>

            <div class="blog-item">
                <img class="blog-item__image" src="/images/blog/2.jpg" alt="" width="270" height="180">
                <span class="blog-item__tag">Vegetable</span>
                <h3 class="blog-item__subtitle title">Which vegetable your family will love and want’s eat each day</h3>
                <cite class="blog-item__author">Author</cite>
                <time class="blog-item__date" datetime="">15. 6. 2020</time>
            </div>

            <div class="blog-info">
                <ul class="blog-info__list">
                    <li class="blog-info__item">
                        <div class="blog-info__content">
                            <h3 class="blog-info__subtitle">Salat is kinda good start to your morning routines</h3>
                            <cite class="blog-info__author">Author</cite>
                            <time class="blog-info__date" datetime="">15. 6. 2020</time>
                        </div>
                        <img class="blog-info__image" src="/images/blog/3.jpg" width="96" height="96" alt="">
                    </li>
                    <li class="blog-info__item">
                        <div class="blog-info__content">
                            <h3 class="blog-info__subtitle">Our chef tips for a great and healthy breakfast</h3>
                            <cite class="blog-info__author">Author</cite>
                            <time class="blog-info__date" datetime="15. 6. 2020">15. 6. 2020</time>
                        </div>
                        <img class="blog-info__image" src="/images/blog/4.jpg" width="96" height="96" alt="">
                    </li>
                    <li class="blog-info__item">
                        <div class="blog-info__content">
                            <h3 class="blog-info__subtitle">Prepare a simple and delicious breads</h3>
                            <cite class="blog-info__author">Author</cite>
                            <time class="blog-info__date" datetime="">15. 6. 2020</time>
                        </div>
                        <img class="blog-info__image" src="/images/blog/5.jpg" width="96" height="96" alt="">
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>