<section class="category section">
    <h1 class="title">
        <div class="sr-only">Freshnesecom Food</div>
    </h1>
    <div class="container">
        <div class="category__wrapper">
            <div class="category-menu">
                <h2 class="title">Category menu</h2>
                <ul class="category-menu__list">
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Bakery</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="catalog.html">Fruit and vegetables</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Meat and fish</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Drinks</a>
                    </li>
                    <li class="category-menu__item">
                        <a class="category-menu__link" href="#">Kitchen</a>
                    </li>
                </ul>
                <a class="category__menu-btn btn" href="#">More categories</a>
            </div>
            <div class="category__inner">
                <div class="category__item">
                    <h4 class="category__item-subtitle title">Banner subfocus</h4>
                    <h2 class="category__item-title title">Space for heading</h2>
                    <a class="category__item-link title btn" href="#">Read recepies</a>
                </div>
                <div class="category__item">
                    <h4 class="category__item-subtitle title">Banner subfocus</h4>
                    <h2 class="category__item-title title">Space for heading</h2>
                    <a class="category__item-link title btn" href="#">Read recepies</a>
                </div>
            </div>
        </div>
    </div>
</section>