<section class="reviews section">
    <div class="container">
        <div class="reviews__top">
            <h2 class="reviews__title title">Our customers says</h2>
            <button class="reviews__button btn">Button</button>
        </div>
    </div>
    <div class="reviews__container">
        <ul class="reviews__slider">
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/2.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/2.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/2.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__fix">
                    <blockquote class="reviews__blockquote">
                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                        <cite class="reviews__author">
                            Name and Surname
                        </cite>
                    </blockquote>
                    <img class="reviews__image" src="/images/reviews-image/2.png" width="48" height="48" alt="">
                </div>
            </li>
        </ul>
    </div>
</section> 