<section class="top-categories section">
    <div class="container">
        <h2 class="top-categories__title title">Top Categories</h2>
        <h3 class="top-categories__subtitle">Space for your subtitle, can be larger so don’t worry - large heading looks better</h3>
        <ul class="top-categories__list">
            <li class="top-categories__item" style="background-image: url('/images/top-categories/1.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Carrot
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="product.html">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/2.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Tomato
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                        <a class="top-categories__box-link" href="#">
                            <svg class="top-categories__box-icon">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </a>
                        <a class="top-categories__box-link" href="#">
                            <svg class="top-categories__box-icon">
                                <use xlink:href="images/sprite.svg#icon-cart"></use>
                            </svg>
                        </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/3.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Onion
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/4.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Cucumber
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/5.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Pepper
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/6.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Mushroom
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="top-categories__item" style="background-image: url('images/top-categories/7.jpg');">
                <h3 class="top-categories__item-title title">
                    Fresh Cabage
                </h3>
                <div class="top-categories__box">
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-heart"></use>
                        </svg>
                    </a>
                    <a class="top-categories__box-link" href="#">
                        <svg class="top-categories__box-icon">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>