<section class="header">
    <div class="container">
        <nav class="header__nav">
            <address class="header__contacts">
                <ul class="header__contacts-list">
                    <li class="header__contacts-item">
                        <a class="header__contacts-link" href="#">Chat with us</a>
                    </li>
                    <li class="header__contacts-item">
                        <a class="header__contacts-link" href="tel:+420336775664">+420 336 775 664</a>
                    </li>
                    <li class="header__contacts-item">
                        <a class="header__contacts-link" href="mailto:info@freshnesecom.com">info@freshnesecom.com</a>
                    </li>
                </ul>
            </address>
            <ul class="header__info">
                <li class="header__info-item">
                    <a class="header__info-link" href="#">Blog</a>
                </li>
                <li class="header__info-item">
                    <a class="header__info-link" href="#">About Us</a>
                </li>
                <li class="header__info-item">
                    <a class="header__info-link" href="#">Careers</a>
                </li>
            </ul>
        </nav>
        <div class="header__inner">
            <a class="logo" href="index.html">
                <svg class="logo__image">
                    <use xlink:href="images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <form class="header__search" action="#">
                <select class="header__search-select select-style">
                    <option value="">All categories</option>
                    <option value="">Fresh fruits</option>
                    <option value="">Vegetables</option>
                </select>
                <input class="header__search-input" type="search" placeholder="Search Products, categories ...">
                <button class="header__search-button" type="submit"></button>
            </form>
            <ul class="header__user">
                <li class="header__user-item header__user-item--user">
                    <button class="header__user-button" type="button">
                        <span class="sr-only">Поиск</span>
                    </button>
                </li>
                <li class="header__user-item header__user-item--cart">
                    <button class="header__user-button" type="button">
                        <span class="sr-only">Корзина</span>
                        <span class="header__user-num">4</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="header__categories">
        <div class="container">
            <form class="header__categories-form">
                <select class="header__categories-select select-style">
                    <option value="">Bakery</option>
                    <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Fruit and vegetables</option>
                    <option value="">Pharmacy</option>
                    <option value="">Baby</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Meat and fish</option>
                    <option value="">Kitchen</option>
                    <option value="">Baby</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Drinks</option>
                    <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Kitchen</option>
                <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Special nutrition</option>
                    <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Baby</option>
                    <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
                <select class="header__categories-select select-style">
                    <option value="">Pharmacy</option>
                    <option value="">Fruit and vegetables</option>
                    <option value="">Meat and fish</option>
                </select>
            </form>
        </div>
    </div>
</section>