<section class="catalog">
    <div class="container">
        <div class="catalog-top">

            <div class="catalog-top__inner">
                <h2 class="catalog-top__title title">Fruit and vegetables</h2>
                <div class="catalog-top__view">
                    <button class="catalog-top__btn catalog-top__btn--grid catalog-top__btn--active">
                        Grid view
                    </button>
                    <button class="catalog-top__btn catalog-top__btn--list">
                        List view
                    </button>
                    <span class="catalog-top__numb">
                        117
                    </span>
                    <span class="catalog-top__span">Products</span>
                </div>
            </div>

            <div class="catalog-top__filters filters">
                <ul class="filters-list">
                    <li class="filters-item">
                        <form class="filters-form" action="#">
                            <label class="filters-label">
                                <div class="filters-box">
                                    <input class="filters-input" type="checkbox">
                                    <span class="filters-checkbox"></span>
                                </div>
                                <span class="filters-text">Filtre text</span>
                            </label>
                            <label class="filters-label">
                                <div class="filters-box">
                                    <input class="filters-input" type="checkbox">
                                    <span class="filters-checkbox"></span>
                                </div>
                                <span class="filters-text">Filtre text</span>
                            </label>
                        </form>
                    </li>

                    <li class="filters-item">
                        <form class="filters-form" action="#">
                            <label class="filters-label">
                                <div class="filters-box">
                                    <input class="filters-input filters-input--different" type="checkbox">
                                    <span class="filters-checkbox filters-checkbox--different"></span>
                                </div>
                                <span class="filters-text">Filtre</span>
                            </label>
                            <span class="filters-span">Nbm</span>
                        </form>
                    </li>

                    <li class="filters-item">
                        <form class="filters-form" action="#">
                            <label class="filters-label">
                                <div class="filters-box">
                                    <input class="filters-input filters-input--different" type="checkbox">
                                    <span class="filters-checkbox filters-checkbox--different"></span>
                                </div>
                                <span class="filters-text">Filtre</span>
                            </label>
                            <span class="filters-span">Nbm</span>
                        </form>
                    </li>
                
                    <li class="filters-item">
                        <form class="filters-form" action="#">
                            <label class="filters-label">
                                <div class="filters-box">
                                    <input class="filters-input filters-input--different" type="checkbox">
                                    <span class="filters-checkbox filters-checkbox--different"></span>
                                </div>
                                <span class="filters-text">Filtre</span>
                            </label>
                            <span class="filters-span filters-span--different">12</span>
                            <select class="filters-select select-style">
                                <option value="">Select</option>
                                <option value="">Select</option>
                                <option value="">Select</option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="catalog-inner">
            <div class="catalog__filters filter">
                
                <div class="filter-categories">
                    <h3 class="title">Categories</h3>
                    <ul class="filter-categories__list">
                        <li class="filter-categories__item">
                            <a class="filter-categories__link" href="#">Category name</a>
                            <span class="filter-categories__span">320</span>
                        </li>
                        <li class="filter-categories__item">
                            <a class="filter-categories__link" href="#">Category name</a>
                            <span class="filter-categories__span">112</span>
                        </li>
                        <li class="filter-categories__item">
                            <a class="filter-categories__link" href="#">Category name</a>
                            <span class="filter-categories__span">32</span>
                        </li>
                        <li class="filter-categories__item">
                            <a class="filter-categories__link" href="#">Category name</a>
                            <span class="filter-categories__span">48</span>
                        </li>
                    </ul>
                </div>

                <div class="filter-brands">
                    <h3 class="title">Brands</h3>
                    <form class="filters-form filter-brands__form" action="#">
                        <label class="filters-label filter-brands__label">
                            <div class="filters-box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="filters-text">Filtre by brand item</span>
                        </label>
                        <label class="filters-label filter-brands__label">
                            <div class="filters-box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="filters-text">Filtre by brand item</span>
                        </label>
                        <label class="filters-label filter-brands__label">
                            <div class="filters-box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="filters-text">Filtre by brand item</span>
                        </label>
                        <label class="filters-label filter-brands__label">
                            <div class="filters-box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="filters-text">Filtre by brand item</span>
                        </label>
                        <label class="filters-label filter-brands__label">
                            <div class="filters-box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="filters-text">Filtre by brand item</span>
                        </label>
                    </form>
                </div>

                <div class="filter-rating">
                    <h3 class="title">Rating</h3>
                    <form class="filters-form filter-rating__form" action="#">
                        <label class="filters-label filter-rating__label">
                            <div class="filters-box filter-rating__box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="star first--star"></span>
                        </label>
                        <label class="filters-label filter-rating__label">
                            <div class="filters-box filter-rating__box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="star second--star"></span>
                        </label>
                        <label class="filters-label filter-rating__label">
                            <div class="filters-box filter-rating__box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="star third--star"></span>
                        </label>
                        <label class="filters-label filter-rating__label">
                            <div class="filters-box filter-rating__box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="star fourth--star"></span>
                        </label>
                        <label class="filters-label filter-rating__label">
                            <div class="filters-box filter-rating__box">
                                <input class="filters-input filters-input--different" type="checkbox">
                                <span class="filters-checkbox filters-checkbox--different"></span>
                            </div>
                            <span class="star fifth--star"></span>
                        </label>
                    </form>
                </div>

                <div class="filter-price">
                    <h3 class="filter-price__title title">Price</h3>
                    <form class="filter-price__form" action="#">
                        <input class="filter-price__input" type="text"
                        data-min="0"
                        data-max="1100"
                        data-from="100"
                        data-to="1000">
                        <label class="filter-price__label">
                            <span class="filter-price__span">
                                Min
                                <span class="filter-price__from"></span>
                            </span>
                            <span class="filter-price__span">
                                Max
                                <span class="filter-price__to"></span>
                            </span> 
                        </label>
                    </form>
                </div>

                <button class="filter-btn btn" type="submit">Apply</button> 

            </div>
            
            <div class="catalog-content product">
                <ul class="product-catalog__items">
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/2.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/3.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/2.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/3.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/2.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="product-catalog__item">
                        <article class="product-card">
                            <img class="product-card__image" src="images/item-image/3.jpeg" width="237" height="180" alt="Product">
                            <div class="product-card__inner">
                                <div class="product-card__wrapper">
                                    <h3 class="product-card__title title">Product Title</h3>
                                    <p class="product-card__desc">Space for a small product description</p>
                                    <span class="star second--star"></span>
                                    <ul class="product-card__list product-info">
                                        <li class="product-card__item">
                                            <div class="product-info__title">Fresheness</div>
                                            <div class="product-info__text">New (Extra fresh)</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Farm</div>
                                            <div class="product-info__text">Grocery Tarm Fields</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Delivery</div>
                                            <div class="product-info__text">Europe</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-info__title">Stock</div>
                                            <div class="product-info__text">320 pcs</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__box">
                                    <span class="product-card__price">23.4
                                        <span class="product-card__currency">USD</span>
                                        <span class="product-card__price-old">48.56</span>
                                    </span>
                                    <button class="product-card__button btn" type="button">Buy now</button>

                                    <a class="product-card__link btn" href="product.html" >Product Deatail</a>

                                    <button class="product-card__add btn" type="submit">Add to wish list</button>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination__inner">
                <div class="pagination-pages">
                    <span class="pagination-pages__span">Page:</span>
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--active" href="#">1</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">4</a>
                        </li>
                    </ul>
                </div>

                <button class="pagination__button btn">Show more products</button>

                <span class="pagination__numb">
                    117
                    <span class="pagination__span">Products</span>
                </span>
            </div>
        </div>

    </div>
</section>