<section class="product section">
    <div class="container">
        <div class="product-wrapper">
            <div class="product-images">
                <img class="product-image" src="/images/product-image/1.jpeg" width="570" height="440" alt="">
                <img class="product-image" src="/images/product-image/2.jpeg" width="570" height="440" alt="">
                <img class="product-image" src="/images/product-image/3.jpeg" width="570" height="440" alt="">
            </div>
            <div class="product-inner">
                <h2 class="title product__title">Carrots from Tomissy Farm</h2>
                <div class="star-box">
                    <div class="star second--star"></div>
                    <span class="star-box__span">(1 customer review)</span>
                </div>
                <p class="product__text">
                    Carrots from Tomissy Farm are one of the best on the market. Tomisso and his family are giving a full love to his Bio products. Tomisso's carrots are growing on the fields naturally.
                </p>
                <div class="product__info">
                    <ul class="product__info-list">
                        <li class="product__info-item">
                            <div class="product__info-title">SKU:</div>
                            <div class="product__info-text">76645</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Category:</div>
                            <div class="product__info-text">Vegetables</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Stock:</div>
                            <div class="product__info-text product__info-text--active">In Stock</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Farm</div>
                            <div class="product__info-text">Grocery Tarm Fields</div>
                        </li>
                    </ul>
                    <ul class="product__info-list">
                        <li class="product__info-item">
                            <div class="product__info-title">Freshness:</div>
                            <div class="product__info-text">1 days old</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Buy by:</div>
                            <div class="product__info-text">pcs, kgs, box, pack</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Delivery:</div>
                            <div class="product__info-text">in 2 days</div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-title">Delivery area</div>
                            <div class="product__info-text">Czech republic</div>
                        </li>
                    </ul>
                </div>
                <div class="product__add">
                    <div class="product-card__box">
                        <span class="product-card__add-price">36.4
                            <span class="product-card__add-currency">USD</span>
                            <span class="product-card__add-price-old">48.56</span>
                        </span>
                    </div>
                    <form class="filters-form" action="#">
                        <label class="filters-label">
                            <span class="filters-text">1</span>
                        </label>
                        <select class="filters-select select-style">
                            <option value="">Pcs</option>
                            <option value="">Pcs</option>
                            <option value="">Pcs</option>
                        </select>
                    </form>
                    <button class="product__add-btn btn" type="submit">Add to cart</button>
                </div>
                <div class="product-tabs">
                    <div class="product-tabs__top">
                        <a class="product-tabs__top-item title product-tabs__top-item--active" href="#tab-1">Description</a>
                        <a class="product-tabs__top-item title" href="#tab-2">Reviews</a>
                        <a class="product-tabs__top-item title" href="#tab-3">Questions</a>
                    </div>
                    <div class="product-tabs__content">
                        <div class="product-tabs__content-item product-tabs__content-item--active" id="tab-1">
                            <div class="tab-description">
                                <h3 class="tab-description__subtitle">Origins</h3>
                                <p class="tab-description__text">
                                    We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don't grow them ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.
                                </p>
                                <h3 class="tab-description__subtitle">How to cook</h3>
                                <p class="tab-description__text">
                                    From roasts, salads and soups to casseroles and cakes, Carrots will lend sweetness, texture and colour to an enormous number of recipes.
                                </p>
                                <h3 class="tab-description__subtitle">Full of Vitamins!</h3>
                                <table class="tab-description__list">
                                    <tr class="tab-description__list-title title">
                                      <th>Vitamins</th>
                                      <th>Quantity</th>
                                      <th>% DV</th>
                                    </tr>
                                    <tr class="tab-description__item">
                                      <td>Vitamin A equiv.</td>
                                      <td>735 μg</td>
                                      <td>104 %</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                      <td>Thiamine (B1)</td>
                                      <td>0.066 mg</td>
                                      <td>45.23</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                        <td>Niacin (B3)</td>
                                        <td>0.983 mg</td>
                                        <td>7 %</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                        <td>Folate (Bg)</td>
                                        <td>19 μg</td>
                                        <td>5 %</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                        <td>Vitamin C</td>
                                        <td>5.9 mg</td>
                                        <td>7 %</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                        <td>Vitamin E</td>
                                        <td>0.66 mg</td>
                                        <td>4 %</td>
                                    </tr>
                                    <tr class="tab-description__item">
                                        <td>Vitamin K</td>
                                        <td>13.2</td>
                                        <td>13 %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="product-tabs__content-item" id="tab-2">
                            <div class="tab-reviews">
                                <div class="tab-reviews__item">
                                    <blockquote class="reviews__blockquote">
                                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                                        <cite class="reviews__author">
                                            Name and Surname
                                        </cite>
                                    </blockquote>
                                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                                </div>
                                <div class="tab-reviews__item">
                                    <blockquote class="reviews__blockquote">
                                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                                        <cite class="reviews__author">
                                            Name and Surname
                                        </cite>
                                    </blockquote>
                                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                                </div>
                                <div class="tab-reviews__item">
                                    <blockquote class="reviews__blockquote">
                                        “ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “
                                        <cite class="reviews__author">
                                            Name and Surname
                                        </cite>
                                    </blockquote>
                                    <img class="reviews__image" src="/images/reviews-image/1.png" width="48" height="48" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="product-tabs__content-item" id="tab-3">
                            content content content content content content content content content content content content content content content content content content content content content content content content content content content 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>