<section class="related">
    <div class="container">
        <div class="related__top">
            <h2 class="related__title title">Related products</h2>
            <a class="related__link btn" href="#">More products</a>
        </div>
        <div class="related__content">
            <article class="product-card">
                <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                <h3 class="product-card__title title">Product Title</h3>
                <p class="product-card__desc">Space for a small product description</p>
                <div class="product-card__box">
                    <span class="product-card__price">1.48
                        <span class="product-card__currency">USD</span>
                    </span>
                    <button class="product-card__button btn" type="button">Buy now</button>
                </div>
            </article>
            <article class="product-card">
                <img class="product-card__image" src="images/item-image/2.jpeg" width="237" height="180" alt="Product">
                <h3 class="product-card__title title">Product Title</h3>
                <p class="product-card__desc">Space for a small product description</p>
                <div class="product-card__box">
                    <span class="product-card__price">1.28
                        <span class="product-card__currency">USD</span>
                    </span>
                    <button class="product-card__button btn" type="button">Buy now</button>
                </div>
            </article>
            <article class="product-card">
                <img class="product-card__image" src="images/item-image/3.jpeg" width="237" height="180" alt="Product">
                <h3 class="product-card__title title">Product Title</h3>
                <p class="product-card__desc">Space for a small product description</p>
                <div class="product-card__box">
                    <span class="product-card__price">1.12
                        <span class="product-card__currency">USD</span>
                    </span>
                    <button class="product-card__button btn" type="button">Buy now</button>
                </div>
            </article>
            <article class="product-card">
                <img class="product-card__image" src="images/item-image/1.jpeg" width="237" height="180" alt="Product">
                <h3 class="product-card__title title">Product Title</h3>
                <p class="product-card__desc">Space for a small product description</p>
                <div class="product-card__box">
                    <span class="product-card__price">1.48
                        <span class="product-card__currency">USD</span>
                    </span>
                    <button class="product-card__button btn" type="button">Buy now</button>
                </div>
            </article>

        </div>
    </div>
</section>