<section class="blog-page section">
    <div class="container">
        <div class="blog-top">
            <div class="blog-card" style="background-image: url('/images/blog/1.jpg');">
                <span class="blog-card__tag">Dinner tips</span>
                <div class="blog-card__content">
                    <h3 class="blog-card__subtitle">Our chef tips for a great and tasty dinner ready in 20 minutes</h3>
                    <div class="blog-card__content-inner">
                        <img class="blog-card__image" src="/images/reviews-image/1.png" width="32" height="32" alt="">
                        <cite class="blog-card__author">Author</cite>
                        <time class="blog-card__date" datetime="">17. 6. 2020</time>
                    </div>
                </div>
            </div>
            <div class="blog-card" style="background-image: url('/images/blog/6.jpg');">
                <span class="blog-card__tag">Dinner tips</span>
                <div class="blog-card__content">
                    <h3 class="blog-card__subtitle">Our chef tips for a great and tasty dinner ready in 20 minutes</h3>
                    <div class="blog-card__content-inner">
                        <img class="blog-card__image" src="/images/reviews-image/1.png" width="32" height="32" alt="">
                        <cite class="blog-card__author">Author</cite>
                        <time class="blog-card__date" datetime="">17. 6. 2020</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__wrapper">
            <div class="blog-menu">
                <h2 class="title">Archives</h2>
                <ul class="blog-menu__archives-list">
                    <li class="blog-menu__archives-item">
                        <a class="blog-menu__archives-link" href="#">March 2020</a>
                    </li>
                    <li class="blog-menu__archives-item">
                        <a class="blog-menu__archives-link" href="#">February 2020</a>
                    </li>
                    <li class="blog-menu__archives-item">
                        <a class="blog-menu__archives-link" href="#">January 2020</a>
                    </li>
                    <li class="blog-menu__archives-item">
                        <a class="blog-menu__archives-link" href="#">November 2019</a>
                    </li>
                    <li class="blog-menu__archives-item">
                        <a class="blog-menu__archives-link" href="#">December 2019</a>
                    </li>
                </ul>
                <h2 class="title">Category</h2>
                <ul class="blog-menu__catalog-list">
                    <li class="blog-menu__catalog-item">
                        <a class="blog-menu__catalog-link" href="#">Food</a>
                    </li>
                    <li class="blog-menu__catalog-item">
                        <a class="blog-menu__catalog-link" href="#">Chefs specialities</a>
                    </li>
                    <li class="blog-menu__catalog-item">
                        <a class="blog-menu__catalog-link" href="#">Vegetable</a>
                    </li>
                    <li class="blog-menu__catalog-item">
                        <a class="blog-menu__catalog-link" href="#">Meat</a>
                    </li>
                    <li class="blog-menu__catalog-item">
                        <a class="blog-menu__catalog-link" href="#">Recommendations</a>
                    </li>
                </ul>
            </div>
            <div class="blog-content">
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/2.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/6.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/7.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/8.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/9.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/10.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/11.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
                <div class="blog-item">
                    <img class="blog-item__image" src="/images/blog/13.jpg" alt="" width="270" height="180">
                    <span class="blog-item__tag">Vegetable</span>
                    <h3 class="blog-item__subtitle title">Space for your heding is here, write what you need</h3>
                    <cite class="blog-item__author">Author</cite>
                    <time class="blog-item__date" datetime="">15. 6. 2020</time>
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination__inner">
                <div class="pagination-pages">
                    <span class="pagination-pages__span">Page:</span>
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--active" href="#">1</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">4</a>
                        </li>
                    </ul>
                </div>

                <button class="pagination__button btn">Next page</button>

                <span class="pagination__numb">
                    117
                    <span class="pagination__span">Products</span>
                </span>
            </div>
        </div>
    </div>
</section>